```{=html}

<%
// Number of columns
const cols = 3;

// Card alignment
const align = "left";

// Cap Options
const imgHeight = "100%";
%>

<div class="list grid quarto-listing-cols-<%=cols%>">
<% for (const item of items) { %>
  <div class="g-col-1" <%= metadataAttrs(item) %>>
    <div class="quarto-grid-item card border-2 rounded-3 h-100 <%-`card-${align}`%>">

      <div class="card-header py-1 px-2 border-bottom border-1 bg-light">
        <a href="<%= item.href %>" target="_blank" class="listing-title link-secondary list-grid-title">
          <%= item.title %> 
        </a> 
      </div>

      <% if (item.image) { %>
        <a class="card-img-top" href="<%= item.href %>" target="_blank">
          <div style="width: 100%; min-height: 150px" class="d-flex align-items-center">
            <img src="<%= item.image %>" class="thumbnail-image card-img" style="height: auto;" alt="<%= item['image-alt'] %>">
          </div>
        </a>
      <% } else { %>
        <a class="card-img-top" href="<%= item.href %>" target="_blank">
          <div style="width: 100%; min-height: 150px" class="d-flex align-items-center">
            <img src="assets/img/epicentre_logo.png" class="thumbnail-image card-img" style="height: auto;" alt="<%= item['image-alt'] %>">
          </div>
        </a>
      <% } %> 

      <% if ('title' || 'subtitle' || 'description' || 'author' || 'date' || otherFields.length > 0) { %>
        <div class="card-body post-contents">
          <% if ('subtitle') { %><div class="card-subtitle listing-subtitle"><%= item.subtitle %></div><% } %>

          <% if ('description') { %>
            <div class="card-text card-text-small text-muted listing-description"><%= item.description %></div>
          <% } %>

        </div>
      <% } %>

      <div class="card-footer py-1 px-2 border-bottom border-1 bg-light">
          <% 
          const flexJustify = 'author' && 'status' ? "justify" : 'author' ? "start" : "end";
          %>
          <% if ('author' || 'status' || 'access') { %>
            <div class="card-attribution card-text-small d-flex" style="padding-top: 0;">
              <% if ('author') { %><div class="listing-author me-auto"><%= item.author %></div><% } %>
              <% if ('status') { %><div class="listing-status tag status-<%= item.status %>"><%= item.status %></div><% } %>
              <% if ('access') { %><div class="listing-access tag status-<%= item.access %>"><%= item.access %></div><% } %>
            </div>
          <% } %>
      </div>

    </div>
  </div>
<% } %>
</div>

```